{% extends 'base.html' %}
{% block content %}
 <!---------- D E V E L O P E D   B Y   P R A N A V   S I R S U F A L E ----------------->
            <div class="content container-fluid">
               <div class="page-header">
                  <div class="row align-items-center">
                     <div class="col">
                        <h3 class="page-title"> Take Attendance </h3>
                        <ul class="breadcrumb">
                           <li class="breadcrumb-item"><a href="subjects.html"> Attendance </a></li>
                           <li class="breadcrumb-item active"> Take Attendance </li>
                        </ul>
                     </div>
                  </div>
               </div>
                {% include 'includes/messages.html' %}
               <div class="row">
                  <div class="col-sm-12">
                     <div class="card">
                        <div class="card-body">
                            {% if action is None %}
                           <form action="?action=get_student" method="POST" >
                               {% csrf_token %}
                              <div class="row">
                                 <div class="col-12">
                                    <h5 class="form-title"><span> Take Attendance </span></h5>
                                 </div>

                                  <div class="form-group">
                                               <label> Subject </label>
                                               <select class="form-control"  name="subject_id" required >
                                                  <option>Select Subject</option>
                                                   {% for i in subject %}
                                                  <option value="{{i.id}}" >{{i.name}}</option>
                                                    {% endfor %}
                                               </select>
                                            </div>
                                 <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                               <label> Session Year </label>
                                               <select class="form-control"  name="session_year_id" required >
                                                  <option> Select Session </option>
                                                   {% for i in session_year %}
                                                  <option value="{{i.id}}" >{{i.session_start}}&nbsp; To &nbsp;{{i.session_end}}</option>
                                                    {% endfor %}
                                               </select>
                                            </div>
                                 </div>
                                 <div class="col-12">
                                    <button type="submit" class="btn btn-primary"> Fetch Student </button>
                                 </div>
                              </div>
                           </form>
                            {% else %}


                            <form action="{% url 'staff_save_attendance' %}" method="POST" >
                               {% csrf_token %}
                              <div class="row">
                                 <div class="col-12">
                                    <h5 class="form-title"><span>Subject Information</span></h5>
                                 </div>
                                  <div class="form-group col-12 col-sm-6">
                                               <label>Subject</label>
                                               <select class="form-control"  name="subject_id" required >
                                                  <option value="{{get_subject.id}}" >{{get_subject}}</option>
                                               </select>
                                            </div>
                                 <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                               <label>Staff</label>
                                               <select class="form-control"  name="session_year_id" required >
                                                  <option value="{{get_session_year.id}}" >{{get_session_year}}</option>
                                               </select>
                                            </div>
                                 </div>

                                  <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                       <label> Attendance Date </label>
                                       <input type="date" class="form-control" name="attendance_date" required >
                                    </div>
                                 </div>
                                  {% for i in student %}
                                  <div class="col-12 mt-4 mt-4">
                                    <div class="form-group form-check">
                                            <input type="checkbox" class="form-check-input" id="exampleCheck1" value="{{i.id}}" name="student_id">
                                            <label class="form-check-label" for="exampleCheck1">{{i.admin.first_name}} {{i.admin.last_name}}</label>
                                    </div>
                                 </div>
                                  {% endfor %}

                                 <div class="col-12">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                 </div>
                              </div>
                           </form>


                            {% endif %}
                        </div>
                     </div>
                  </div>
               </div>
            </div>
 <!---------- D E V E L O P E D   B Y   P R A N A V   S I R S U F A L E ----------------->
{% endblock %}