{% load active_link_tags %}
 <!---------- D E V E L O P E D   B Y   P R A N A V   S I R S U F A L E ----------------->
<div class="sidebar" id="sidebar">
    {% load static %}
            <div class="sidebar-inner slimscroll">
               <div id="sidebar-menu" class="sidebar-menu">
                  {% if user.user_type == '1' %}
                   <ul>
                     <li class="menu-title">
                        <span>Main Menu</span>
                        <li class="{% active_link 'hod_home' 'active' %}">
                           <a href="{% url 'hod_home' %}"><i class="fas fa-clipboard-list"></i> <span> Dashboard </span></a>
                        </li>
                     <li class="submenu {% active_link 'add_student' 'active' %} {% active_link 'view_student' 'active' %}">
                        <a href="#"><i class="fas fa-user-graduate"></i> <span> Students</span> <span class="menu-arrow"></span></a>
                        <ul>
                           <li><a href="{% url 'add_student' %}">Add Student</a></li>
                           <li><a href="{% url 'view_student' %}">View Student</a></li>
                        </ul>
                     </li>
                     <li class="submenu{% active_link 'add_staff' 'active' %} {% active_link 'view_staff' 'active' %}" >
                        <a href="#"><i class="fas fa-chalkboard-teacher"></i> <span> Staff</span> <span class="menu-arrow"></span></a>
                        <ul>
                           <li><a href="{% url 'add_staff' %}">Add Staff</a></li>
                           <li><a href="{% url 'view_staff' %}">View Staff</a></li>
                        </ul>
                     </li>
                     <li class="submenu {% active_link 'add_course' 'active' %} {% active_link 'view_course' 'active' %}">
                        <a href="#"><i class="fas fa-graduation-cap"></i> <span> Course</span> <span class="menu-arrow"></span></a>
                        <ul>
                           <li><a href="{% url 'add_course' %}">Add Course</a></li>
                           <li><a href="{% url 'view_course' %}">View Course</a></li>
                        </ul>
                     </li>
                     <li class="submenu {% active_link 'add_subject' 'active' %} {% active_link 'view_subject' 'active' %}">
                        <a href="#"><i class="fas fa-book-reader"></i> <span> Subjects</span> <span class="menu-arrow"></span></a>
                        <ul>
                           <li><a href="{% url 'add_subject' %}">Add Subject</a></li>
                           <li><a href="{% url 'view_subject' %}">View Subject</a></li>
                        </ul>
                     </li>
                      <li class="submenu {% active_link 'add_session' 'active' %} {% active_link 'view_session' 'active' %}">
                        <a href="#"><i class="fas fa-clock"></i> <span> Session</span> <span class="menu-arrow"></span></a>
                        <ul>
                           <li><a href="{% url 'add_session' %}">Add Session</a></li>
                           <li><a href="{% url 'view_session' %}">View Session</a></li>
                        </ul>
                     </li>
                      <li class="{% active_link 'staff_send_notification' 'active' %}" >
                           <a href="{% url 'staff_send_notification' %}"><i class="fas fa-bell"></i> <span> Send Staff Notification </span></a>
                        </li>
                      <li class="{% active_link 'student_send_notification' 'active' %}" >
                           <a href="{% url 'student_send_notification' %}"><i class="fas fa-bell"></i> <span> Send Student Notification </span></a>
                      </li>
                      <li>
                           <a href="#"><i class="fas fa-comments"></i> <span> View Attendance </span></a>
                      </li>
                       <li class="{% active_link 'hod_staff_feedback_reply' 'active' %}" >
                           <a href="{% url 'hod_staff_feedback_reply' %}"><i class="fas fa-comments"></i> <span> Staff Feedback  </span></a>
                       </li>
                       <li class="{% active_link 'hod_student_feedback' 'active' %}" >
                           <a href="{% url 'hod_student_feedback' %}"><i class="fas fa-envelope"></i> <span> Student Feedback </span></a>
                       </li>
                       <li class="{% active_link 'staff_leave_view' 'active' %}" >
                           <a href="{% url 'staff_leave_view' %}"><i class="fas fa-envelope"></i> <span> Staff Leave </span></a>
                       </li>
                      <li class="{% active_link 'hod_student_leave_view' 'active' %}" >
                           <a href="{% url 'hod_student_leave_view' %}"><i class="fas fa-envelope"></i> <span> Student Leave </span></a>
                      </li>

                       <li>
                           <a href="{% url 'logout' %}"><i class="fa fa-sign-out-alt"></i> <span> Logout </span></a>
                       </li>
                  </ul>
                   {% elif user.user_type == '2' %}
         <!--         Staff Interface        -->
                   <ul>
                     <li class="menu-title">
                        <span>Main Menu</span>
                        <li class="{% active_link 'hod_home' 'active' %}">
                           <a href="{% url 'hod_home' %}"><i class="fas fa-clipboard-list"></i> <span> Dashboard </span></a>
                        </li>
                       <li class="{% active_link 'staff_take_attendance' 'active' %}">
                           <a href="{% url 'staff_take_attendance' %}"><i class="fas fa-calendar-alt"></i> <span> Take Attendance </span></a>
                        </li>
                       <li class="{% active_link 'staff_view_attendance' 'active' %}">
                           <a href="{% url 'staff_view_attendance' %}"><i class="fas fa-calendar-alt"></i> <span> View/Update Attendance  </span></a>
                        </li>
                       <li class="{% active_link 'staff_add_result' 'active' %}">
                           <a href="{% url 'staff_add_result' %}"><i class="fas fa-poll-h"></i> <span> Add Result </span></a>
                        </li>
                       <li class="{% active_link 'staff_apply_leave' 'active' %}">
                           <a href="{% url 'staff_apply_leave' %}"><i class="fas fa-envelope-open"></i> <span> Apply For Leave </span></a>
                        </li>
                       <li class="{% active_link 'staff_feedback' 'active' %}">
                           <a href="{% url 'staff_feedback' %}"><i class="fas fa-comment"></i> <span> Send Feedback </span></a>
                        </li>
                       <li class="{% active_link 'notifications' 'active' %}">
                           <a href="{% url 'notifications' %}"><i class="fas fa-bell"></i> <span> Notifications </span></a>
                        </li>
                       <li>
                           <a href="{% url 'logout' %}"><i class="fa fa-sign-out-alt"></i> <span> Logout </span></a>
                        </li>
                   </ul>
<!--                        student view      -->
                   {% else %}
                 <ul>
                     <li class="menu-title">
                        <span>Main Menu</span>
                        <li class="{% active_link 'student_home' 'active' %}">
                           <a href="{% url 'student_home' %}"><i class="fas fa-clipboard-list"></i> <span> Dashboard </span></a>
                        </li>
                     <li class="{% active_link '' 'active' %}">
                         <a href="" ><i class="fa fa-calendar" aria-hidden="true"></i><span> View Attendance </span></a>
                     </li>
                     <li class="{% active_link 'view_result' 'active' %}">
                         <a href="{% url 'view_result' %}" ><i class="fa fa-poll" aria-hidden="true"></i><span> View Result </span></a>
                     </li>
                      <li class="{% active_link 'student_leave' 'active' %}">
                         <a href="{% url 'student_leave' %}" ><i class="fa fa-pray" aria-hidden="true"></i><span> Apply For Leave </span></a>
                     </li>
                      <li class="{% active_link 'student_feedback' 'active' %}">
                         <a href="{% url 'student_feedback' %}" ><i class="fa fa-comment" aria-hidden="true"></i><span> Send Feedback </span></a>
                     </li>
                     <li class="{% active_link 'student_notification' 'active' %}">
                         <a href="{% url 'student_notification' %}" ><i class="fa fa-bell" aria-hidden="true"></i><span> Notifications </span></a>
                     </li>
                      <li class="">
                         <a href="{% url 'logout' %}"><i class="fa fa-sign-out-alt"></i><span> Logout </span></a>
                     </li>
                 </ul>

                   {% endif %}
               </div>
            </div>
</div>
 <!---------- D E V E L O P E D   B Y   P R A N A V   S I R S U F A L E ----------------->