<!DOCTYPE html>
 <!---------- D E V E L O P E D   B Y   P R A N A V   S I R S U F A L E ----------------->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Welcome to text analyzer </title>
</head>
<body>
<div class="heading" ></div>
<h1 > Welcome to pranav's text analyzer </h1>
<h2><p>Enter Your text below .....</p></h2>
</div>
<a href="qrdir"><h3> click here to generate qr code 👻🧑‍💻</h3></a>
<div class="for">
    <form action="/analyze" method="GET"    >
        <textarea name="text" placeholder="enter your text here" rows="5" cols="50"> </textarea> <br><br>
        <input type="checkbox" name="removepunc"> remove punctuations <br> <br>
        <input type="checkbox" name="captaltext" >make capital <br><br>
        <button type="submit"> Analyze Text</button>
        <br><br>
    </form>
</div>
</body>
</html>
 <!---------- D E V E L O P E D   B Y   P R A N A V   S I R S U F A L E ----------------->