{% extends 'base.html' %}
{% block content %}
 <!---------- D E V E L O P E D   B Y   P R A N A V   S I R S U F A L E ----------------->
            <div class="content container-fluid">
               <div class="page-header">
                  <div class="row align-items-center">
                     <div class="col">
                        <h3 class="page-title">Edit Session</h3>
                        <ul class="breadcrumb">
                           <li class="breadcrumb-item"><a href="subjects.html">Session</a></li>
                           <li class="breadcrumb-item active">Edit </li>
                        </ul>
                     </div>
                  </div>
               </div>
                {% include 'includes/messages.html' %}
               <div class="row">
                  <div class="col-sm-12">
                     <div class="card">
                        <div class="card-body">
                           <form action="{% url 'update_session'  %}" method="POST" >
                               {% csrf_token %}
                              <div class="row">
                                 <div class="col-12">
                                    <h5 class="form-title"><span>Edit Session</span></h5>
                                 </div>
                                 <div class="col-12 col-sm-6">
                                     <div class="form-group">
                                         <label> Session Year Start </label>
                                         <div>
                                             <input type="date" class="form-control" name="session_year_start" value="{% for i in session %}{{i.session_start}}{% endfor %}" required >
                                             <input type="text" class="form-control" name="session_id" value="{% for i in session %}{{i.id}}{% endfor %}" required hidden >
                                         </div>
                                     </div>
                                 </div>
                                  <div class="col-12 col-sm-6">
                                     <div class="form-group">
                                         <label> Session Year End </label>
                                         <div>
                                             <input type="date" class="form-control" name="session_year_end" value="{% for i in session %}{{i.session_end}}{% endfor %}" required >
                                         </div>
                                     </div>
                                 </div>
                                 <div class="col-12">
                                    <button type="submit" class="btn btn-primary">Update Session</button>
                                 </div>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
 <!---------- D E V E L O P E D   B Y   P R A N A V   S I R S U F A L E ----------------->
{% endblock %}